<!-- HTML -->
<ion-header>
  <ion-toolbar>
    <ion-title>Mis Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-card class="profile-card">
      <div class="profile-img-container" style="height: 150px;">
        <img src="assets/Photo.png" alt="Mi foto 2x2">
      </div>
      <ion-card-header>
        <ion-card-title class="profile-name">Moisés Girón Arias</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label class="profile-label">📧 mga152125&#64;gmail.com</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>